NEXT_PUBLIC_SUPABASE_URL=https://tybtqqfbavjlnpmzhakx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR5YnRxcWZiYXZqbG5wbXpoYWt4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYyNTQ3NjEsImV4cCI6MjA3MTgzMDc2MX0.8-cvcUX4m9sZ8rAebRPAbFJSY6dzUSE3c3DcCXeh5no
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR5YnRxcWZiYXZqbG5wbXpoYWt4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjI1NDc2MSwiZXhwIjoyMDcxODMwNzYxfQ.sW1PxgDYsDpeZ29D0N17p4IpG_napi01HA_9Qcc25L8
ADMIN_EMAILS=vitoramaral807@gmail.com,vtzin0805@gmail.com